.container {
  color: #ffffcc;
  font-family: "Josefin Sans", sans-serif;
  max-width: 450px;
  margin-top: 50px;
  border: 2px solid orange;
  border-radius: 20px;
  padding: 20px;
  background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
}
h1 {
  font-size: 52px;
  margin: 16px 0;
}
h2 {
  font-size: 52px;
  padding: 0;
  margin: 16px 0;
}
ul {
  list-style: none;
  padding: 0;
}
.city-search {
  width: 82%;
  border-radius: 5px;
}
input[type="submit"] {
  float: right;
}
